<header id="first">
  <div class="content">
    <div class="left">
      <div class="intro">
        <h2>
          social media
        </h2>
        <h1>for business!</h1>
        <p>performance based social media agency</p>
        <button class="btn big-btn custom-btn mt-5">
          get a free aduit
        </button>
      </div>
    </div>
    <div class="right">
      <img class="header-pic" src="assets/header-pic.svg">
    </div>
  </div>
  <div class="scroll-icon">
    <div class="icon-bg">
      <img src="assets/mouse-icon.svg">
    </div>
  </div>
</header>
