<div class="custom-card">
  <div class="body mb-4">
    <div class="title mb-5">
      <h1>Platinum Package</h1>
    </div>
    <div class="description mb-5">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl nibh, sagittis ac faucibus sit amet,
        primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris vel iaculis dui.
      </p>
    </div>
    <div class="price">
      <h1>
        $200
      </h1>
    </div>
    <button class="btn custom-btn big-btn">see details</button>
  </div>
</div>
